<!-- Breadcromb Wrapper Start -->
<div style="background:#ff6600">
  <div class="container">
    <div style="text-align:center; padding:30px 0px; color:#fff;"><h3>Secondary School ETZ Program</h3></div>
  </div>
</div>
<!-- Breadcromb Wrapper End --> 

<section style="padding-top:60px">
<div class="container">
<div class="row">
<div class="col-md-12">

<div class="col-md-6">
	<div class="title" style="margin-top:5px; text-align:left; margin-bottom:25px">
		  <h2>Program Highlights</h2>
	</div>
	
	<div class="title" style="margin-top:5px; text-align:left; margin-bottom:25px">
		<p><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; The program provides an opportunity for Sreenidhi International School students in middle and high school to receive intensive professional coaching and equitable opportunities to participate at high level in various tournaments within India and beyond.</p>  

		<p><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; We encourage all students to participate in sports or a physical activity with the theory that physical exertion contributes to a healthy lifestyle and complements academic work. As Sreenidhians we believe that sports play a pivotal role in developing balanced students, hence, we place a strong focus on our sports programming, encouraging all students to participate in the team sports we offer.</p>

		<p><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; ETZ Activity sign-up is done online.</p>
		
		<p><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Online sign-up for ETZ 2021-2022 activities will open on Monday, July 22 at 6:00pm and closes on Wednesday, July @ 7:30pm. Before and after these times the on-line sign-up form will be closed.</p>

		<p><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; August 5 - ETZ program starts.</p>
 
		<p><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; March 13 - ETZ program ends.</p>

	</div>	
	
	<div class="title" style="margin-top:5px; text-align:left; margin-bottom:10px">
		  <h3 style="color: #123176;">Annual Sports Awards</h3>
		  <ul style="padding: 25px; margin-left: 10px; margin-top: -20px;">
				<li style="list-style-type:disc; padding=bottom:10px">Chairman's Award</li>
				<li style="list-style-type:disc; padding=bottom:10px">Female Athlete of the Year</li>
				<li style="list-style-type:disc; padding=bottom:10px">Male Athlete of the year </li>
				<li style="list-style-type:disc; padding=bottom:10px">Scholar Athlete of The Year</li>				  
			</ul>
	</div>
</div>

<div class="col-md-6"><!-- col-md-5 -->
	<img src='https://a2msports.com/assets/club_pages/sreenidhi/etz_scp_cover.jpg' style="width:100%; height:auto;" />
</div>

</div>

	<div class="title col-md-12" style="margin-top:5px; text-align:left; margin-bottom:15px">
		  <h2>Conferences</h2>
	</div>
	
	<div class="title col-md-12" style="text-align:left; margin-left: 15px; margin-bottom:25px">
		<p>Sreenidhi International School students are involved in a range of Athletic conferences.</p>
		
		<p><h4 style="color: #123176;">These include : </h4></p>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<ul style="padding: 25px; margin-left: 10px; margin-top: -20px;">
				<li style="list-style-type:disc; padding=bottom:10px">ISBL - Indian School Basketball League</li>
				<li style="list-style-type:disc; padding=bottom:10px">SGFI - School Games Federation of India </li>
				<li style="list-style-type:disc; padding=bottom:10px">Jr NBA - Junior NBA Regional and National Championship </li>
				<li style="list-style-type:disc; padding=bottom:10px">IBSO - International Board Schools Sports Organization</li>
				<li style="list-style-type:disc; padding=bottom:10px">GHIBL - Greater Hyderabad Inter-school basketball league</li>
				<li style="list-style-type:disc; padding=bottom:10px">Premier Cup - This a football tournament organized by Sreenidhi Football Club</li>
				<li style="list-style-type:disc; padding=bottom:10px">SFL - School Football League</li>
				<li style="list-style-type:disc; padding=bottom:10px">Bengal Junior Squash Open - Kolkata</li>
				<li style="list-style-type:disc; padding=bottom:10px">Northern Indian Squash Tournament - Delhi</li>				
			</ul>
		</div>
		
		<div class="col-md-6">
			<ul style="padding: 25px; margin-left: 10px; margin-top: -20px;">
				<li style="list-style-type:disc; padding=bottom:10px">All India Rajasthan Squash Championship - Jodhpur</li>
				<li style="list-style-type:disc; padding=bottom:10px">CCI Western India Squash Tournament - Mumbai  </li>
				<li style="list-style-type:disc; padding=bottom:10px">South Zone Aquatic Championship</li>
				<li style="list-style-type:disc; padding=bottom:10px">Hyderabad Cricket Association League</li>
				<li style="list-style-type:disc; padding=bottom:10px">School Cricket League</li>
				<li style="list-style-type:disc; padding=bottom:10px">VVS cricket Tournament</li>
				<li style="list-style-type:disc; padding=bottom:10px">Inter-District State Athletics Championship</li>	
				<li style="list-style-type:disc; padding=bottom:10px">All India Tennis Association ranking tournaments (AITA)</li>				
			</ul>
		</div>
		
	</div>
	
	<div class="title" style="margin-top:30px; text-align:left; margin-bottom:25px">
		  <h2>Training Schedule Coming Soon</h2>
	</div>

<div class="table-responsive">
<!-- For BasketBall -->
</div>

	<div class="title" style="margin-top:30px; text-align:left; margin-bottom:25px">
		  <h2>Coaching Fee Payment Process </h2>
	</div>
	<div class="col-md-9">
		<span style="color:#ff0000; font-size:16px; font-weight:700">STEP 1</span><br>
		Go to Google or IOS play store and download the Sreenidhi Sports Academy APP. <br /><br />
		<span style="color:#ff0000; font-size:16px; font-weight:700">STEP 2</span><br>
		To sign in, after receiving a registration confirmation; Enter your registered mail ID and set your password. It will direct you to your ward's portal.<br /><br />
		To pay the coaching fees, click "Payments" and follow the process. It will direct you to a payment gateway for details. Once you have made the payment successfully, you have officially registered your ward into the sports program with Sreenidhi Sports Academy. 
	</div>
	
</div><!-- col-md-11 -->
</div><!-- row -->
</div><!-- Container -->

</section>
<div class="clearfix"></div>
