<!-- Breadcromb Wrapper Start -->
<div style="background:#ff6600">
  <div class="container">
    <div style="text-align:center; padding:30px 0px; color:#fff;"><h3>Primary School ETZ Program</h3></div>
  </div>
</div>
<!-- Breadcromb Wrapper End --> 

<section style="padding-top:60px">
<div class="container">
<div class="row">
<div class="col-md-12">

<div class="col-md-6">
	<div class="title" style="margin-top:5px; text-align:left; margin-bottom:25px">
		  <h2>Program Highlights</h2>
	</div>		
	
	<div class="title" style="margin-top:5px; text-align:left; margin-bottom:25px">
		<p><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Our Primary School activities are available to all students from Grade 1 to Grade 5 throughout the year. The focus is to develop and deliver equitable sports opportunities for all students. Students may select from a wide range of activities based on their ages, schedules and interests. We encourage our Primary School students to be involved in at least two different sporting activities a week. Sreenidhi International School students participates in the IB PYP Network Sports Fest which offers the opportunity for our younger students to play competitive sports against schools within and around Hyderabad, in the following activities Basketball, Chess, Cricket, Football, Swimming, Tennis, Track and Field.</p>  

		<p><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; ETZ program commences at 3:00 pm and ends at 4:20 pm. Bus service is available at 4:30 pm ETZ school bus service is available for students in Grades 2 and above.</p>

		<p><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Students using own transport after ETZ program are required to be picked up by a parent or caregiver at 4:30 pm.</p>

		<p><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Online sign-up for ETZ 2021-2022 activities will open on Monday, July 21 at 6:00pm and closes on Friday, July 30 at 7:30pm. Before and after these times the on-line sign-up form will be closed.</p>

		<p><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; August 5 - ETZ program starts.</p>
 
		<p><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; March 13 - ETZ program ends.</p>

	</div>
</div>
<div class="col-md-6"><!-- col-md-5 -->
	<img src='https://a2msports.com/assets/club_pages/sreenidhi/etz_pyp_cover.jpg' style="width:100%; height:auto;" />
</div>

</div>

	<div class="title col-md-12" style="margin-top:30px; text-align:left; margin-bottom:25px">
		<h2>Training Schedule Coming Soon</h2>
	</div>
	

	<div class="title col-md-12" style="margin-top:30px; text-align:left; margin-bottom:25px">
		  <h2>Coaching Fee Payment Process </h2>
	</div>
	<div class="col-md-9">
		<span style="color:#ff0000; font-size:16px; font-weight:700">STEP 1</span><br>
		Go to Google or IOS play store and download the Sreenidhi Sports Academy APP. <br><br>
		<span style="color:#ff0000; font-size:16px; font-weight:700">STEP 2</span><br>
		To sign in, after receiving a registration confirmation; Enter your registered mail ID and set your password. It will direct you to your ward's portal.<br><br>
		To pay the coaching fees, click "Payments" and follow the process. It will direct you to a payment gateway for details. Once you have made the payment successfully, you have officially registered your ward into the sports program with Sreenidhi Sports Academy. 
	</div>
	
</div><!-- col-md-12 -->
</div><!-- row -->
</div><!-- Container -->

</section>
<div class="clearfix"></div>